*
!.gitignore
!__assets__
!__assets__/**
!calibre
!calibre/**
!dunst
!dunst/**
!fontconfig
!fontconfig/**
!gtk-3.0
!gtk-3.0/**
!howlinbash
!howlinbash/**
!i3
!i3/**
!nvim
!nvim/**
!picom
!picom/**
!polybar
!polybar/**
!ranger
!ranger/**
!rofi
!rofi/**
!terminator
!terminator/**
